@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
// @use '../abstracts/abstracts' as *;

h1 {
  font-size: 1.8rem;
  color: $primary-white;
  font-family: $primary-font;
  line-height: 1.2;
  .insights {
    color: $primary-light;
    font-size: inherit;
  }
}

p {
  font-family: $secondary-font;
  font-size: 15px;
  @include mq("medium") {
    font-size: 1.5em;
  }
}

.p {
  &-main {
    color: $secondary-white;
    line-height: 1.5;
  }
  &-stats {
    color: $tertiary-white;
    text-transform: uppercase;
    margin-top: 8px;
  }
}
