@use '../abstracts/abstracts' as *;

// The container with the card init
// Is always gonna be the size of whatever the body is
.container {
  width: 100%;
}

.attribution {
  font-style: $primary-font;
  color: $primary-white;
  text-align: center;
  margin: 35px;
  @include mq("medium") {
    margin: 70px;
  }
  p {
    margin: 6px;
  }
  a {
    color: hsl(228, 45%, 44%);
  }
}
