@use '../abstracts/variables' as *;

.container {
  //   position: relative;
  width: 100%;
  // background-color: ;
}

.attribution {
  font-style: $primary-font;
  color: $primary-white;
  text-align: center;
  margin: 35px;
  p {
    margin: 6px;
  }
  a {
    color: hsl(228, 45%, 44%);
  }
}
