@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

// Fonts
$primary-font: "Inter", sans-serif;
$secondary-font: "Lexend Deca", sans-serif;

// Media Queries Breakpoints
$breakpoints: (
  small: 320px,
  medium: 480px,
  large: 768px,
  huge: 1024px,
);

// Colors
$primary-dark: hsl(233, 47%, 7%);
$secondary-dark: hsl(244, 38%, 16%);
$primary-light: hsl(277, 64%, 61%);

$primary-white: hsl(0, 0%, 100%);
$secondary-white: hsla(0, 0%, 100%, 0.75);
$tertiary-white: hsla(0, 0%, 100%, 0.6);

// Images
// $mobile-image: ;
// $desktop-image: ;
